<section class="booking-bg">
  <div class="grid wide ">
    <div class="booking-wrapper">
      <div class="row">
        <div class="col l-12 c-12 m-12">
          <h2 class="booking-heading">
            MAKE AN APPOINTMENT
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col l-12 c-12 m-12">
          <div class="booking-form-wrapper">
            <form action="" class="booking-form">
              <input type="text" placeholder="First Name" class="booking-form-input" required>
              <input type="text" placeholder="Last Name" class="booking-form-input" required>
              <input type="text" placeholder="Phone Number" class="booking-form-input" required>
              <select name="booking-service" id="selectId" class="booking-form-input" required>
                <option value="" selected>-------</option>
                <option value="" class="booking-service-option">Hair Cut</option>
                <option value="" class="booking-service-option">Beard Trim</option>
                <option value="" class="booking-service-option">Moustache Trim</option>
                <option value="" class="booking-service-option">Clipper Cut</option>
                <option value="" class="booking-service-option">Face Shave</option>
                <option value="" class="booking-service-option">Hair Style</option>
              </select>
              <button type="" class="booking-form-input booking-submit-btn">
                GO
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


