<section class="gallery-container">
  <div class="grid wide">
    <div class="row">
      <div class="col l-12 m-12 c-12">
        <div class="col l-12 c-12 m-12 pricing-heading-wrapper">
          <p class="pricing-subheading">GALLERY</p>
          <h2 class="pricing-heading">PHOTOS OF OUR EVENTS</h2>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-1.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-2.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-3.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-4.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-5.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-6.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-7.jpg" alt="" class="gallery-img">
      </div>
      <div class="col no-gutters l-3 m-4 c-12 gallery-img-wrapper">
        <img src="/assets/img/gallery-8.jpg" alt="" class="gallery-img">
      </div>
    </div>
  </div>
</section>
