<section class="pricing-container">
  <div class="grid wide">
      <div class="row">
        <div class="col l-12 c-12 m-12 pricing-heading-wrapper">
          <p class="pricing-subheading">PRICING</p>
          <h2 class="pricing-heading">PRICE & PLANS</h2>
        </div>
      </div>
      <div class="row">
          <div class="col l-4 m-4 c-12 pricing-card before-animate fadeInUp after-animate">
            <div class="pricing-card-content-wrapper">
              <img src="assets/img/gallery-4.jpg" alt="" class="pricing-card-img">
              <ul class="pricing-card-list">
                  <li class="pricing-card-item">Hair Cut</li>
                  <li class="pricing-card-item">Beard Trim</li>
                  <li class="pricing-card-item">Moustache Trim</li>
                  <li class="pricing-card-item">Clipper Cut</li>
                  <li class="pricing-card-item">Face Shave</li>
                  <li class="pricing-card-item">Hair Style</li>
              </ul>
              <div class="pricing-card-footer">
                  <p class="pricing-card-price">
                    78$
                  </p>
                  <button class="pricing-card-button">
                    GET STARTED
                  </button>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12 pricing-card before-animate fadeInUp after-animate">
            <div class="pricing-card-content-wrapper">
              <img src="assets/img/gallery-7.jpg" alt="" class="pricing-card-img">
              <ul class="pricing-card-list">
                <li class="pricing-card-item">Hair Cut</li>
                <li class="pricing-card-item">Beard Trim</li>
                <li class="pricing-card-item">Moustache Trim</li>
                <li class="pricing-card-item">Clipper Cut</li>
                <li class="pricing-card-item">Face Shave</li>
                <li class="pricing-card-item">Hair Style</li>
              </ul>
              <div class="pricing-card-footer">
                <p class="pricing-card-price">
                  88$
                </p>
                <button class="pricing-card-button">
                  GET STARTED
                </button>
              </div>
            </div>
          </div>
          <div class="col l-4 m-4 c-12 pricing-card before-animate fadeInUp after-animate">
            <div class="pricing-card-content-wrapper">
              <img src="assets/img/gallery-5.jpg" alt="" class="pricing-card-img">
              <ul class="pricing-card-list">
                <li class="pricing-card-item">Hair Cut</li>
                <li class="pricing-card-item">Beard Trim</li>
                <li class="pricing-card-item">Moustache Trim</li>
                <li class="pricing-card-item">Clipper Cut</li>
                <li class="pricing-card-item">Face Shave</li>
                <li class="pricing-card-item">Hair Style</li>
              </ul>
              <div class="pricing-card-footer">
                <p class="pricing-card-price">
                  98$
                </p>
                <button class="pricing-card-button">
                  GET STARTED
                </button>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
