<section class="row grid wide">
  <div class="col l-6 m-12 c-12 yoe-img-wrapper">
    <img src="/assets/img/yoe.jpg" alt="" class="yoe-img">
  </div>
  <div class="col l-6 m-12 c-12 yoe-content before-animate fadeInUp after-animate">
      <p class="yoe-subheading">ABOUT BARBER</p>
      <h2 class="yoe-heading">A SMOOTH BARBER EXPERIENCE IN YOUR TOWN</h2>
      <p class="yoe-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    <div class="yoe-show">
      <div class="yoe-show-calendar-wrapper">
        <i class="fa-solid fa-calendar-days yoe-calendar"></i>
      </div>
      <div class="yoe-number-increase">
        <span class="yoe-number" id="yoeNumber">
        </span>
        <p class="yoe-description">
          YEAR OF EXPERIENCED
        </p>
      </div>
    </div>
  </div>
</section>
