<footer class="footer-container">
  <div class="grid wide">
    <div class="row">
      <div class="col l-3 c-12 m-12 footer-col-wrapper">
        <div class="footer-header">BARBERO</div>
        <div class="footer-content">
          <p class="footer-p">
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </p>
          <div class="footer-social">
              <i class="fa-brands fa-facebook team-info-social"></i>
              <i class="fa-brands fa-instagram team-info-social"></i>
              <i class="fa-brands fa-twitter team-info-social"></i>
              <i class="fa-brands fa-tiktok team-info-social" ></i>
          </div>
        </div>
      </div>
      <div class="col l-3 c-12 m-12 footer-col-wrapper">
        <div class="footer-header">EXPLORE</div>
        <div class="footer-content">
          <ul class="footer-explore-list">
            <li class="footer-explore-item">About</li>
            <li class="footer-explore-item">Service</li>
            <li class="footer-explore-item">Gallery</li>
            <li class="footer-explore-item">Blog</li>
          </ul>
        </div>
      </div>
      <div class="col l-3 c-12 m-12 footer-col-wrapper">
        <div class="footer-header">INFO</div>
        <div class="footer-content">
          <ul class="footer-explore-list">
            <li class="footer-explore-item">Join us</li>
            <li class="footer-explore-item">Make Appointment</li>
            <li class="footer-explore-item">Privacy & Policy</li>
            <li class="footer-explore-item">Term & Conditions</li>
          </ul>
        </div>
      </div>
      <div class="col l-3 c-12 m-12 footer-col-wrapper">
        <div class="footer-header">HAVE A QUESTIONS?</div>
        <div class="footer-content">
          <ul class="footer-explore-list">
            <li class="footer-explore-item address">
              <i class="fa-solid fa-location-dot footer-icon"></i>
              203 Fake St. Mountain View, San Francisco, California, USA
            </li>
            <li class="footer-explore-item ">
              <i class="fa-solid fa-phone footer-icon"></i>
              +2 392 3929 210
            </li>
            <li class="footer-explore-item ">
              <i class="fa-solid fa-envelope footer-icon"></i>
              info@yourdomain.com
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
