<section class="banner">
  <div class="overlay-banner"></div>
  <div class="row grid wide container">
    <div class="col l-6 m-0 c-0"></div>
    <div class="col l-6 m-12 c-12 banner-content-wrapper">
      <span class="banner-heading">
        WELCOME TO BARBERO
      </span>
      <h1 class="banner-text">
        WE WILL MAKE
        <span>YOUR </span>
        <br>
        <span>STYLE</span>
        OF YOUR DREAMS
      </h1>
      <div class="banner-description">
        <p class="banner-description-text">
          A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
          paradisematic country, in which roasted parts of sentences fly into your mouth.
        </p>
        <p class="banner-learn-more-wrapper">
          <a href="#" class="banner-learn-more">
            Learn More About Us
          </a>
        </p>
      </div>
    </div>
  </div>
</section>


