.banner-other-route {
  background-image: url('src/assets/img/booking-1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: relative;
}

.route-heading {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 3.4rem;
  color: white;
  font-weight: 700;
  margin: 0;
}

.product-container {
  position: relative;
}

.route {
  position: absolute;
  top: 50%;
  transform: translate(-50%, 250%);
  left: 50%;
  font-size: 2.4rem;
  color: white;
  /*font-weight: 500;*/
  margin: 0;
}

.filter-wrapper {
  font-family: 'Montserrat', serif;
}

.subheader {
  margin: 16px 0 0 0;
  padding: 16px 0;
  font-size: 1.8rem;
  border-bottom: 1px solid #C1C0C0;
}

.main-header {
  margin: 0;
  padding: 16px 0;
  font-size: 1.8rem;
  cursor: pointer;
}

.filter-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.filter-item {
  font-size: 1.4rem;
}

.filter-item ~ .filter-item {
  margin-top: 4px;
}


.clear-filter-btn {
  background-color: #bf925b;
  margin: 16px 0 0 0;
  padding: 16px 0;
  font-weight: 400;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
  color: white;
  -webkit-transition: 0.3s all ease;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 4px;
  border: none;
}

/*product css*/
.product-wrapper {
  padding: 0 12px;
}

.product-card {
  margin: 12px 0;
  text-decoration: none;
  font-family: 'Lubalin-Graph', serif;
}


.product-img {
  height: 250px;
  width: 100%;
}

.product-name, .product-price {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.product-name {
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
  margin-top: 8px;
}

.product-name:hover {
  cursor: pointer;
  color: #ef0c0c;
}

.product-price {
  padding: 8px 16px;
  font-size: 1.8rem;
  color: red;
  margin-top: 8px;
}

.add-cart {
  border-radius: 4px;
  border: none;
  background-color: #bf925b;
  padding: 16px;
  font-weight: 800;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: all 0.3s ease;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.pageList {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin: 0;
}

.page {
  display: inline-block;
  cursor: pointer;
  width: 36px;
  height: 36px;
  font-size: 1.6rem;
  line-height: 36px;
  text-align: center;
  margin: 0 12px;
}

.test {
  outline: black solid 0.5px;
}

.page:hover, .btn-change-page:hover {
  background: rgba(195, 191, 191, 0.18);
}


.btn-change-page {
  height: 36px;
  width: 68px;
  padding: 4px 8px;
  outline: none;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  border: #333333 solid 0.5px;
}

.filter-btn-mobile-wrapper {

}

.filter-btn-mobile {
  padding: 8px;
  font-size: 2rem;
  color: white;
  background-color: #bf925b;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 16px;
  cursor: pointer;
  display: none;
}

.filter-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 30%;
  background-color: white;
  z-index: 50;
  opacity: 0;
  display: none;
  transform: translateX(-100%);
  transition: transform linear 0.3s, opacity linear 0.3s;
}

.filter-close-btn {
  position: relative;
  top: 28px;
  right: -86%;
  padding: 8px 10px;
  display: inline;
  font-size: 1.6rem;
  outline: black solid 0.5px;
}

.filter-mobile-input:checked ~ .filter-block {
  transform: translateX(0);
  opacity: 1;
}
.price-input-wrapper {
  display: flex;
  margin-bottom: 12px;
}
.input-price {
  max-width: 64px;
}
.temp-css {
  margin: 0 12px;
}
@media (max-width: 749px) {
  .filter-wrapper {
    padding-left: 24px;
  }

  .subheader {
    margin: 0;
  }

  .filter-item {
    padding-left: 12px;
  }

  .clear-filter-btn {
    margin-top: 24px;
  }

  .filter-block {
    width: 70%;
    display: block;
  }

  .filter-btn-mobile {
    display: block;
  }
}


@media (min-width: 740px) and (max-width: 1023px) {
  .filter-wrapper {
    padding-left: 20px;
  }

  .subheader {
    margin: 0;
  }

  .filter-item {
    padding-left: 12px;
  }

  .clear-filter-btn {
    margin-top: 24px;
  }

  .filter-block {
    width: 40%;
    display: block;
  }

  .filter-btn-mobile {
    display: block;
  }
}
