<section class="team-container">
  <div class="row grid wide">
    <div class="col l-12 c-12 m-12 team-heading">
      <p class="team-subheading">TEAM</p>
      <h2 class="team-main-heading">OUR EXPERT TEAM</h2>
    </div>
  </div>
  <div class="row">
    <div class="col l-12 c-12 m-12 team-img-wrapper">
      <img src="/assets/img/staff-1.jpg" alt="" class="team-img" #staffOne (click)="getDOM(staffOne)">
      <img src="/assets/img/staff-2.jpg" alt="" class="team-img" #staffTwo (click)="getDOM(staffTwo)">
      <img src="/assets/img/staff-3.jpg" alt="" class="team-img" #staffThree (click)="getDOM(staffThree)">
      <img src="/assets/img/staff-4.jpg" alt="" class="team-img" #staffFour (click)="getDOM(staffFour)">
    </div>
  </div>
  <div class="row grid wide team-info-wrapper">
    <div class="col l-12 c-12 m-12 team-info">
      <img src="/assets/img/staff-1.jpg" alt="" class="team-info-img">
      <div class="team-about">
        <p class="team-info-name">JAMES EDISON</p>
        <p class="team-info-description">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores at deleniti doloremque ipsa laborum nesciunt nulla obcaecati praesentium quasi, quis rerum similique sit suscipit unde voluptatem. Atque aut error excepturi expedita, facere in ipsam iure minus, nesciunt nihil nobis nulla temporibus totam, ullam velit! Adipisci harum porro velit?
        </p>
      </div>
    </div>
  </div>
</section>
