.team-container {
  background-color: black;
  padding: 80px 0;
}

.team-subheading {
  font-size: 20px;
  font-weight: 600;
  color: #bf925b;
  font-family: "Barlow Condensed", Arial, sans-serif;
  margin: 0 0 24px 0;
}
.team-heading {
  text-align: center;
}
.team-main-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 16px;
  color: white;
}
.team-img-wrapper {
  text-align: center;
}

.team-img {
  width: 120px;
  height: 140px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 4px;
  background-clip: padding-box;
}
.team-img-border {
  outline: solid 4px #bf925b;
}
.team-img:hover {
  cursor: pointer;
}

.team-info-wrapper {
  margin-top: 64px;
}
.team-info {
  display: flex;
}
.team-info-img {
  width: 300px;
  height: 400px;
  margin: 0 4px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-about {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  width: 500px;
}
.team-info-name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin: 5px 0 0 0;
}

.team-info-description {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  color: gray;
}

.team-info-social {
  font-size: 1.8rem;
  color: white;
  background: var(--primary-color);
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.team-info-social ~ .team-info-social {
  margin-left: 8px;
}

.team-info-social:hover {
  color: #bf925b;
  background-color: #e5e2e2;
  transition: color linear 0.2s, background-color linear 0.2s;
  outline: #bf925b solid 1px;
}

.team-info-booking {
  border: #bf925b solid 1px;
  padding: 8px;
  color: #bf925b;
  outline: #bf925b;
  cursor: pointer;
  margin-top: 24px;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  width: 50%;
  background-color: transparent;
  font-weight: 500;
}
.team-info-service-list {
  list-style: none;
  padding: 0;
  margin: 12px 0 0 0;
}

.team-info-service-item {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  color: gray;
  padding: 4px;
}
/*mobile*/
@media (max-width: 749px) {
  .team-img {
    height: 102px;
    width: 80px;
  }

  .team-img-wrapper {
    padding: 0;
  }

  .team-info {
    display: flex;
    flex-direction: column;
  }

  .team-info-img {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0 8px;
  }

  .team-about {
    margin-top: 24px;
    margin-left: 0;
    width: 100%;
    padding: 0 8px;
  }

  .team-info-services {
    margin-top: 24px;
    padding: 0 8px;
  }

  .team-info-booking {
    width: 100%;
  }

  .team-info-wrapper {
    margin-top: 48px;
  }

  .team-info-description {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
/*tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
  .team-info-name {
    font-size: 2rem;
  }
  .team-info-booking {
    width: 100%;
  }
  .team-info-description {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}
