<section class="service-parent-container">
  <div class="service-child-container">
    <div class="row grid wide">
      <div class="col l-12 service-heading-wrapper">
        <p class="service-subheading">SERVICES</p>
        <h1 class="service-heading">
          SERVICE MENU
        </h1>
        <p class="service-description">
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        </p>
      </div>
    </div>
    <div class="row grid wide service-card-wrapper">
      <div class="col l-3 m-6 c-12 service-card">
        <img src="assets/img/hair-beard.png" alt="" class="service-card-icon">
        <h3 class="service-card-title">Haircut & Styling</h3>
        <p class="service-card-text">A small river named Duden flows by their place and supplies.</p>
      </div>
      <div class="col l-3 m-6 c-12 service-card">
        <img src="assets/img/beard.png" alt="" class="service-card-icon">
        <h3 class="service-card-title">Beard</h3>
        <p class="service-card-text">A small river named Duden flows by their place and supplies.</p>
      </div>
      <div class="col l-3 m-6 c-12 service-card">
        <img src="assets/img/make-up.png" alt="" class="service-card-icon">
        <h3 class="service-card-title">Make up</h3>
        <p class="service-card-text">A small river named Duden flows by their place and supplies.</p>
      </div>
      <div class="col l-3 m-6 c-12 service-card">
        <img src="assets/img/body-treatmeant.png" alt="" class="service-card-icon">
        <h3 class="service-card-title">Body Treatment</h3>
        <p class="service-card-text">A small river named Duden flows by their place and supplies.</p>
      </div>
    </div>
  </div>
</section>
